<div class="card--wrapper">
    <p class="card--title  ">
        I will design and build a modern, bold wordpress website
    </p>
    <span class="card--category ">
        software development
    </span>
    <p class="card--description ">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi, dolorem consequatur quasi cumque error sunt,
        ullam necessitatibus sequi nulla aliquam corporis ratione eum sed accusamus! Dolorem conseq.
    </p>
    <div class="flex flex-row justify-between items-center">
        <p class=" card--nickname">nickname</p>
        <a href="#">
            <p class="card--btn ">Contact</p>
        </a>
    </div>
</div>