{% load static %}
<div class=" p-8 md:p-20" style="background-color: #082333;">
    <div
        class="container bg-white flex flex-col md:flex-row justify-center items-center py-16 px-12 rounded-3xl gap-10">
        <h2 class="h2-title class md:w-5/12">Got a question? <br/>
            Shoot us an email</h2>

        <div class="flex flex-col justify-center items-start gap-8">
            <p class="flex flex-row justify-center items-center gap-4 text-lg text-slate-700">
                <img src="{% static 'images/icons/tick.png' %}" alt="">
                as1036@duke.edu (Aziz Abdullaev)
            </p>

            <p class="flex flex-row justify-center items-center gap-4 text-lg text-slate-700">
                <img src="{% static 'images/icons/tick.png' %}" alt="">
                mbg34@duke.edu (Michael Getaneh)
            </p>
        </div>

    </div>
</div>