{% extends 'gigs/base.html' %}
{% load static %}

{% block title %}Find a talent here.{% endblock title %}
{% block content %}

{% include "gigs/Header.html" %}

<div class="py-24 bg-sky-800" >
  <p class="text-center text-3xl uppercase font-bold font-epilogue text-sky-100">Find. Collaborate. Create.</p>
</div>

<!--SEARCH -->

<div class=" flex justify-center bg-sky-50 ">
  <form action="" method="get">
    {% csrf_token %}
    <div
      class="flex flex-col sm:flex-row justify-center items-center space-y-4 sm:space-y-0 sm:space-x-4 bg-white-400 px-4 py-4 shadow-lg -mt-12 bg-white rounded-md">


      <div id="keywordSearch" class="bg-slate-50 border border-slate-400 py-4 px-2 font-roboto text-base rounded-lg ">
        {{myFilter.form.keywords}}
      </div>

      <div class="bg-slate-50 border border-slate-400 py-4 px-2 font-roboto text-base rounded-lg ">
        {{myFilter.form.category}}
      </div>
      
      <button class="bg-sky-500 text-lg text-white uppercase rounded-lg py-4 px-6" type="submit">Find</button>

    </div>





</div>

</form>

</div>

<!-- GIGS SECTION -->
<div class="bg-sky-50 pt-12 pb-20">
  <div class="container flex flex-row items-start justify-center gap-12 flex-wrap ">
    {% if gigs == "nodata" %}
    <p>Sorry Nothing found</p>
    {% else %}
    {% for gig in gigs %}
    <div class="card--wrapper">
      <p class="card--title  ">
        {{gig.title}}
      </p>
      <div class="">
        {% if gig.category == "software development" %}
        <p class="card--category text-sky-500 bg-sky-50 ">
          {{gig.category}}
        </p>
        {% elif gig.category == "Advocacy & Awareness" %}
        <p class="card--category text-red-500 bg-red-50 ">
          {{gig.category}}
        </p>
        {% elif gig.category == "Music / Songwriting" %}
        <p class="card--category text-teal-500 bg-teal-50 ">
          {{gig.category}}
        </p>
        {% elif gig.category == "Shooting & Editing" %}
        <p class="card--category text-purple-500 bg-purple-50 ">
          {{gig.category}}
        </p>
        {% elif gig.category == "Recruiting & Test Prep" %}
        <p class="card--category text-blue-500 bg-blue-50 ">
          {{gig.category}}
        </p>
        {% elif gig.category == "data analysis" %}
        <p class="card--category text-cyan-500 bg-cyan-50  ">
          {{gig.category}}
        </p>
        {% else %}
        <p class="card--category ">
          {{gig.category}}
        </p>
        {% endif %}


      </div>

      <p class="card--description ">
        {{gig.description}}
      </p>

      <div class="flex flex-row justify-between items-center mt-auto">
        <p class=" card--nickname">{{gig.nickname}}</p>
        <div class=" cursor-pointer">
          <span class="hidden">{{gig.email}}</span>
          <p class="card--btn" onclick="copyContent(event)">Contact</p>
        </div>
      </div>
    </div>

    {% endfor %}
    {% endif %}

  </div>
</div>

<!-- Contact us page -->
{% include "gigs/contactComponent.html" %}



<script>
  window.addEventListener('DOMContentLoaded', (event) => {
    console.log('DOM fully loaded and parsed');
    const categories = document.getElementById('id_category');
    const option = categories.children[0];
    document.getElementById("id_keywords").placeholder = "Search by keywords"
    console.dir(document.getElementById("id_keywords")
    );
    option.textContent = "All categories";
  });
</script>
{% endblock content %}